#searchText {
    position: absolute;
    top: 0px;
    right: 0px;
    height:40px;
    font-size:medium;
}

body {
    background-color: lightblue;
}

input {
    color: lightcoral;
    background-color: mistyrose;
}

textarea {
    width: 500px;
    height: 100px;
    resize: none;
    font-size: x-large;
}

#postedQuestions {
    border: solid 2px blueviolet;
    width: 600px;
    background-color: white;
}

#question {

}

#answerButton {
        height: 50px ;
        width:100px;
        font-size: 20px;
}

#answerTextElement {
    color: red;
}

#answerDiv {
  
}

#answerText {
    font-style:italic;
}

#searchDiv {
    position: absolute;
    top: 20px;
    right: 0px;
    background-color: white;
    height: 100px;
    width: 630px;
}